/**
 * Menu
 */

nav.main-menu {
    background: $bg;
    border: 1px solid $bg2;

    ul.menu {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        list-style-type: none;

        li.menu-item {
            text-align: center;
            display: inline-block;
            padding: 0 $padding;

            a {
                display: block;
                width: 100%;
                color: $text;
                text-decoration: none;

                &:hover {
                    color: $accent;
                }
                
            }
        }
    }
}
