/**
 * Variables
 */

// Colors
$bg: #f8fff0;
$bg-dark: rgb(246, 255, 237);
$border: rgb(189, 214, 132);

$text: #10222b;

$accent: #95AB63;
$accent-dark: #829653;

$mid: #8e5841;
$high: #be9780;
$low: #724337;
$shading: rgba(0,0,0,0.1);

// Spacing
$padding: 5%;

// Animation
$time: 0.3s;
