/**
 * Variables
 */

// Colors
$bg: #eeeff3;
$bg2: #bea385;
//$text: #354242;
$text: #292323;
$accent: #a7acc1;
$mid: #8e5841;
$high: #be9780;
$low: #724337;

// Spacing
$padding: 5%;

// Animation
$time: 0.3s;
