/**
 * Variables
 */

// Spacing
$margin: 8vh;
$padding: 3vh;

$thick-border: 5px;
$thin-border: 1px;

$breakpoint: 992px;

// Colors
$text: #3D3D47;
$bg: #FCFDFD;
$shadow: #3D3D47;

$accent: #A0BEB2;
$accent-dark: #85A296;

$base: #878F68;
$base-dark: #676953;

// Typography
$normal-font-mobile: 5vw;
$big-font-mobile: 6vw;
$biggest-font-mobile: 11vw;

$normal-font: 1.5vw;
$big-font: 2vw;
$biggest-font: 3.5vw;

// Animation
$time: 0.3s;

// Mixins
@mixin background-opacity($color, $opacity: 0.5) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
