/**
 * Theme Sass
 *
 * author: zachfedor
 * version: 0.1
 * url: http://hickory.io
 * license: MIT
 */

// Bootstrap
@import "../../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "../../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "../../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_grid.scss";

// Fontawesome
@import "../../../../../bower_components/fontawesome/css/font-awesome.min.css";

// Variables
@import "variables.scss";

// Layout
@import "layout.scss";
@import "menu.scss";
@import "header.scss";

// TEST HTML
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vw;
    background: $bg;
    color: $text;
    text-align: center;
}

